@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8f8f8;
    --foreground: #1d293d;
    --card: #ffffff;
    --card-foreground: #1d293d;
    --popover: #ffffff;
    --popover-foreground: #1d293d;
    --primary: #6468f0;
    --primary-foreground: #ffffff;
    --secondary: #e4e8ef;
    --secondary-foreground: #364050;
    --muted: #f5f5f5;
    --muted-foreground: #6c727e;
    --accent: #e1e7fd;
    --accent-foreground: #364050;
    --destructive: #f14444;
    --border: #d0d4db;
    --input: #d0d4db;
    --ring: #6468f0;
    --radius: 0.5rem;

    --chart-1: #6468f0;
    --chart-2: #4f46e5;
    --chart-3: #443bc9;
    --chart-4: #3730a5;
    --chart-5: #312d84;
  }

  .dark {
    --background: #0f182b;
    --foreground: #e3e8ef;
    --card: #1d293d;
    --card-foreground: #e3e8ef;
    --popover: #1d293d;
    --popover-foreground: #e3e8ef;
    --primary: #818cf9;
    --primary-foreground: #0f182b;
    --secondary: #2f3848;
    --secondary-foreground: #d0d4db;
    --muted: #1d293d;
    --muted-foreground: #9ba2ae;
    --accent: #364050;
    --accent-foreground: #d0d4db;
    --destructive: #f14444;
    --border: #4b5666;
    --input: #4b5666;
    --ring: #818cf9;

    --chart-1: #818cf9;
    --chart-2: #6468f0;
    --chart-3: #4f46e5;
    --chart-4: #443bc9;
    --chart-5: #3730a5;
  }

  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}